		{% extends "layout.html" %}
		{% block body %}

        <br/>
		<fieldset>
			<legend>Dispositivos</legend>
				Lampada:
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="lightonoffswitch" checked>
						<label class="onoffswitch-label" for="lightonoffswitch">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
					<br/>
				Cortina:
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="curtainonoffswitch" checked>
						<label class="onoffswitch-label" for="curtainonoffswitch">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
					<br/>
				Ar Condicionado:
					<div >
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" onchange="toogleTemperatureControl()" class="onoffswitch-checkbox" id="temperatureonoffswitch" checked>
							<label class="onoffswitch-label" for="temperatureonoffswitch">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
						<br/>
						<input id="temperatureControl" type="range" list="possibleTemperatures" min="17" max="25" 
						oninput="showVal(this.value)" onchange="showVal(this.value)" />
						<input type="text" id="showTemperature" value=""  />
						<datalist id="possibleTemperatures">
							<option value="17">
							<option value="18">
							<option value="19">
							<option value="20">
							<option value="21">
							<option value="22">
							<option value="23">
							<option value="24">
							<option value="25">
						</datalist>
					</div>


			<script>
				function showVal(val){
					
					document.getElementById('showTemperature').value=val;
				}
				
				function toogleTemperatureControl(){
					document.getElementById("temperatureControl").disabled = 
						document.getElementById("temperatureControl").disabled == true ?  false: true;
				}
				
			</script>
			
			
			<style>
				.onoffswitch {
					position: relative; width: 90px;
					-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
				}
				.onoffswitch-checkbox {
					display: none;
				}
				.onoffswitch-label {
					display: block; overflow: hidden; cursor: pointer;
					border: 2px solid #999999; border-radius: 20px;
				}
				.onoffswitch-inner {
					display: block; width: 200%; margin-left: -100%;
					-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
					-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
				}
				.onoffswitch-inner:before, .onoffswitch-inner:after {
					display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
					font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
					-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
				}
				.onoffswitch-inner:before {
					content: "ON";
					padding-left: 10px;
					background-color: #34A7C1; color: #FFFFFF;
				}
				.onoffswitch-inner:after {
					content: "OFF";
					padding-right: 10px;
					background-color: #EEEEEE; color: #999999;
					text-align: right;
				}
				.onoffswitch-switch {
					display: block; width: 18px; margin: 6px;
					background: #FFFFFF;
					border: 2px solid #999999; border-radius: 20px;
					position: absolute; top: 0; bottom: 0; right: 56px;
					-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
					-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
				}
				.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
					margin-left: 0;
				}
				.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
					right: 0px; 
				}
			</style>
		</fieldset>
		

        <fieldset>
            <legend>Usuários que estao no comodo</legend>
            <div>
                <select id="possibleUsers">
                    <option value="1">Carlos</option>
                    <option value="2">Silveira</option>
                    <option value="3">Cesar</option>
                    <option value="4">Convidado</option>
                </select>
                <input type="button" value="Adicionar" onclick="addUser()">
            </div>
            <div>
                <ol id="users_at_room">
                </ol>
            </div>

            <script>


            </script>


        </fieldset>

		{% endblock %}
