<!doctype html>
<title>PFC</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap-min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{url_for('static',filename='bootstrap-min.js')}}"></script>
<script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe}};</script>
<div class="page">
      
				<p><h1>Casa Inteligente </h1></p>
  		  <!--span><a href="/house/panel" class="menu">ver casa</a> <a href="/devices/panel" class="menu">ver dispositivos</a></span-->
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    <script>$(".flash").fadeOut(1000)</script>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
