		{% extends "layout.html" %}
		{% block body %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='onoff-layout.css') }}">
        <h3>Sala</h3>
		<fieldset>
			<legend>Dispositivos</legend>
				Lampada:
					<div>
					    <input type="checkbox" name="my-checkbox" checked>
                    </div>
					<br/>
				Cortina:
                    <div>
					    <input type="checkbox" name="my-checkbox" checked>
                    </div>
					<br/>
				Ar Condicionado:
					<div >
						<div>
					        <input type="checkbox" name="my-checkbox" checked>
                        </div>
						<br/>
						<input id="temperatureControl" type="range" list="possibleTemperatures" min="17" max="25" 
						oninput="showVal(this.value)" onchange="showVal(this.value)" />
						<input type="text" id="showTemperature" value=""  />
						<datalist id="possibleTemperatures">
							<option value="17">
							<option value="18">
							<option value="19">
							<option value="20">
							<option value="21">
							<option value="22">
							<option value="23">
							<option value="24">
							<option value="25">
						</datalist>
					</div>
					
			<script>
                $("[name='my-checkbox']").bootstrapSwitch();

				function showVal(val){
					
					document.getElementById('showTemperature').value=val;
				}
				
				function toogleTemperatureControl(){
					document.getElementById("temperatureControl").disabled = 
						document.getElementById("temperatureControl").disabled == true ?  false: true;
				}

                function updateLight(){
                    document.getElementById()
                }
			</script>
			

		</fieldset>
		

        <fieldset>
            <legend>Usuários</legend>

            <select name="user" id="possibleUsers">
                <option value="1">Silveira</option>
                <option value="2">Carlos</option>
                <option value="3">César</option>
                <option value="4">Convidado</option>
            </select>

            <button onclick="addUser()">Adicionar</button>

            <br/>
            <div>
                <table id="usersList" class="table">

                    {% for user in office_state.users %}
				    <tr>

                        <td> {{ users_names[loop.index-1] }} </td><td><button onclick=removeUser(this,{{user}})>Remover</button>
                        </td>

                    </tr>
                    {% else %}
                    {% endfor %}
                </table>
            </div>

            <script>
                var baseUrl = location.href;
                function addUser(){
                    newUser = document.getElementById("possibleUsers");
                    // fazer requisição com newUser.value

                    $.ajax({
                        url:baseUrl+"/add/"+newUser.value
                    });

                    $("#usersList").append('<tr><td>'+newUser[newUser.selectedIndex].text+'</td><td><button onclick=removeUser(this,'+newUser.value+')>Remover</button></td></tr>');
                }

                function removeUser(order,id){
                    var i = order.parentNode.parentNode.rowIndex;
                    document.getElementById("usersList").deleteRow(i);
                    // fazer requisição com id
                    $.ajax({
                        url:baseUrl+"/remove/"+id
                    });

                }

            </script>


        </fieldset>

		{% endblock %}
