		{% extends "layout.html" %}
		{% block body %}

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

        <input hidden="hidden" value="{{office_state.light}}" id="light-state">
        <input hidden="hidden" value="{{office_state.curtain}}" id="curtain-state">
        <input hidden="hidden" value="{{office_state.temperature}}" id="temperature-state">


        <h3>Escritório</h3>
		<fieldset>
			<legend>Dispositivos</legend>
					<div>
                        <label class="checkbox-inline" id="light-label">
                            <input type="checkbox" id="light-control" checked data-toggle="toggle" onchange="updateLight()"> Lâmpada
                        </label>
                    </div>
					<br/>
                    <div>
					   <label class="checkbox-inline" id="curtain-label">
                            <input type="checkbox" id="curtain-control" checked data-toggle="toggle" onchange="updateCurtain()"> Cortina
                        </label>
                    </div>
					<br/>
					<div >
						<div>
					        <label class="checkbox-inline" id="temperature-label">
                            <input type="checkbox" id="temperature-onoff" checked data-toggle="toggle" onchange="toogleTemperatureControl()"> Ar Condicionado
                        </label>
                        </div>
						<br/>
						<input id="temperature-control" type="range" list="possibleTemperatures" min="17" max="25"
						onchange="updateTemperature(this.value)" />
						<input type="text" id="showTemperature" value=""  />
						<datalist id="possibleTemperatures">
							<option value="17">
							<option value="18">
							<option value="19">
							<option value="20">
							<option value="21">
							<option value="22">
							<option value="23">
							<option value="24">
							<option value="25">
						</datalist>
					</div>
					
			<script>

			</script>
			

		</fieldset>
		

        <fieldset>
            <legend>Usuários</legend>

            <select name="user" id="possibleUsers">
                <option value="1">Silveira</option>
                <option value="2">Carlos</option>
                <option value="3">César</option>
                <option value="4">Convidado</option>
            </select>

            <button onclick="addUser()">Adicionar</button>

            <br/>
            <div>
                <table id="usersList" class="table">

                    {% for user in office_state.users %}
				    <tr>

                        <td> {{ users_names[loop.index-1] }} </td><td><button onclick=removeUser(this,{{user}})>Remover</button>
                        </td>

                    </tr>
                    {% else %}
                    {% endfor %}
                </table>
            </div>

            <script>

				function showSliderValue(val){


				}

				function toogleTemperatureControl(){
					document.getElementById("temperature-control").disabled =
						document.getElementById("temperature-control").disabled == true ?  false: true;

                    new_temperature = 0;

                    if(!document.getElementById("temperature-onoff").parentElement.classList.contains("off")){
                        new_temperature = $("#temperature-control").val();
                    }

                    $.ajax({
                        url:baseUrl+"/temperature/update/"+new_temperature
                    });
				}

                function updateLight(){
                    newLight = true;
                    if(document.getElementById("light-control").parentElement.classList.contains("off")){
                        newLight = false;
                    }
                    $.ajax({
                         url:baseUrl+"/light/update/"+newLight
                    });

                }

                function updateCurtain(){
                    newLight = true;
                    if(document.getElementById("curtain-control").parentElement.classList.contains("off")){
                        newLight = false;
                    }
                    $.ajax({
                         url:baseUrl+"/curtain/update/"+newLight
                    });
                }

                var baseUrl = location.href;
                function addUser(){
                    newUser = document.getElementById("possibleUsers");
                    // fazer requisição com newUser.value

                    $.ajax({
                        url:baseUrl+"/add/"+newUser.value
                    });

                    $("#usersList").append('<tr><td>'+newUser[newUser.selectedIndex].text+'</td><td><button onclick=removeUser(this,'+newUser.value+')>Remover</button></td></tr>');
                }

                function removeUser(order,id){
                    var i = order.parentNode.parentNode.rowIndex;
                    document.getElementById("usersList").deleteRow(i);
                    // fazer requisição com id
                    $.ajax({
                        url:baseUrl+"/remove/"+id
                    });

                }


                function updateTemperature(new_temp){
                    $.ajax({
                        url:baseUrl+"/temperature/update/"+new_temp
                    });
                    document.getElementById('showTemperature').value=new_temp;
                }


                // initialize the saved room state
                $(document).ready(function(){
                    var light = $("#light-state").val() == 'True'? 'on' : 'off';
                    $("#light-control").bootstrapToggle(light);

                    var curtain = $("#curtain-state").val() == 'True'? 'on' : 'off';
                    $("#curtain-control").bootstrapToggle(curtain);

                    var temperature = $("#temperature-state").val();
                    if(temperature == '0' || temperature == undefined){
                        $("#temperature-onoff").bootstrapToggle('off');
                        document.getElementById("temperature-control").disabled = true;
                    }
                    else{
                        $("#temperature-control").val(temperature);
                        $("#temperature-onoff").bootstrapToggle('on');
                        document.getElementById("temperature-control").disabled = false;
                    }
                });

            </script>


        </fieldset>

		{% endblock %}
