		{% extends "layout.html" %}
		{% block body %}
        <link rel="stylesheet" type="text/css" href="onoff-layout.css">
        <h3>Sala</h3>
		<fieldset>
			<legend>Dispositivos</legend>
				Lampada:
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="lightonoffswitch" checked>
						<label class="onoffswitch-label" for="lightonoffswitch" >
							<span class="onoffswitch-inner" id="light-status"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
					<br/>
				Cortina:
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="curtainonoffswitch" checked>
						<label class="onoffswitch-label" for="curtainonoffswitch">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
					<br/>
				Ar Condicionado:
					<div >
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" onchange="toogleTemperatureControl()" class="onoffswitch-checkbox" id="temperatureonoffswitch" checked>
							<label class="onoffswitch-label" for="temperatureonoffswitch">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
						<br/>
						<input id="temperatureControl" type="range" list="possibleTemperatures" min="17" max="25" 
						oninput="showVal(this.value)" onchange="showVal(this.value)" />
						<input type="text" id="showTemperature" value=""  />
						<datalist id="possibleTemperatures">
							<option value="17">
							<option value="18">
							<option value="19">
							<option value="20">
							<option value="21">
							<option value="22">
							<option value="23">
							<option value="24">
							<option value="25">
						</datalist>
					</div>
					
			<script>
				function showVal(val){
					
					document.getElementById('showTemperature').value=val;
				}
				
				function toogleTemperatureControl(){
					document.getElementById("temperatureControl").disabled = 
						document.getElementById("temperatureControl").disabled == true ?  false: true;
				}

                function updateLight(){
                    document.getElementById()
                }
			</script>
			

		</fieldset>
		

        <fieldset>
            <legend>Usuários</legend>

            <select name="user" id="possibleUsers">
                <option value="1">Silveira</option>
                <option value="2">Carlos</option>
                <option value="3">César</option>
                <option value="4">Convidado</option>
            </select>

            <button onclick="addUser()">Adicionar</button>

            <br/>
            <div>
                <table id="usersList">

                </table>
            </div>

            <script>
                function addUser(){
                    newUser = document.getElementById("possibleUsers");
                    // fazer requisição com newUser.value

                    $("#usersList").append('<tr><td>'+newUser[newUser.selectedIndex].text+'</td><td><button onclick=removeUser(this,'+newUser.value+')>Remover</button></td></tr>');


                }

                function removeUser(order,id){

                    var i = order.parentNode.parentNode.rowIndex;
                    document.getElementById("usersList").deleteRow(i);
                    // fazer requisição com id
                }

            </script>


        </fieldset>

		{% endblock %}
